*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(42, 44, 44);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#cadastro-a{text-align: center;padding: 10px;}
#cadastro-a a{color:rgb(64, 223, 125);text-decoration: none;}

/************************/
.col{
    margin: 0 auto;
    width: 350px;
    height: 100%;
    padding: 4px;
}
@media(max-width: 600px){.col{width: 100%;}}

.well{
    margin-top: 100px;
    padding: 20px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.11); 
}
@media(max-width: 600px){
    .well{margin-top: 60px; margin-bottom: 0px;}
}
/************************/



#resul1, #resul2{
    text-align: center;
    color: rgb(252, 62, 62);
    font-weight: 700;
    letter-spacing: 2px; 
}




.well h1{
    text-align: center;
}
form{
    text-align: left;
}
input{
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 10px;
    outline: 0;
}
button{
    padding: 10px;
    width: 100%;
    background: rgb(30, 202, 67);
    color: #fff;
    border: none;
}
button:hover{
    opacity: 0.8;
    transition: 0.3s;
}

